<section class="container-fluide p-5 bg-light">
  <section class="container-fluide p-4 bg-light">
    <div class="row">
      <div class="col-lg-3">
        <h4>Contacts Available</h4>
      </div>
      <div class="col-lg-9">
        <a class="btn btn-sm mr-1" routerLinkActive="btn-primary" routerLink="list">List View</a>
        <a class="btn btn-sm mr-1" routerLinkActive="btn-primary" routerLink="grid">Grid View</a>
      </div>
    </div>
  </section>
  <router-outlet></router-outlet>
</section>